<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>htmx 1</title>
<!-- Load from unpkg -->
<script src="https://unpkg.com/htmx.org@1.2.1"></script><script src="https://unpkg.com/htmx.org@1.2.1"></script>

</head>
<body>

<div>
  <button hx-get="https://eded0569.github.io/contracts/index1.html" hx-target="#output1">
    Red Text
  </button>
  </div>

<div>
<button hx-get="https://eded0569.github.io/contracts/index2.html" hx-target="#output2">
    Blue Text
</button>
</div>

<div id="output1">
</div>

<div id="output2">
</div>

</body>
</html>
